@import "tailwindcss";

:root {
  --bg: #121212;
  --text: #ffffff;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c27012;
  border-radius: 8px;
}
