@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --bg: #121212;
  --text: #ffffff;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", Arial, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: none;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
